<table
  class="table-auto border-2 border-white text-white font-serif rounded-md"
>
  <thead class="border-b-2 border-white">
    <th class="px-4 py-2">Username</th>
    <th class="px-4 py-2">Password</th>
  </thead>
  <tbody>
    <tr class="border-2 border-white" *ngFor="let data of datas">
      <td class="px-4 py-2">{{ data.username }}</td>
      <td class="px-4 py-2">{{ data.password }}</td>
    </tr>
    <tr class="border-2 border-white">
      <td class="px-4 py-2">Ueruqwruqosas</td>
      <td class="px-4 py-2">abcdefghijkgmail.com</td>
    </tr>
    <tr class="border-2 border-white">
      <td class="px-4 py-2">Cjay</td>
      <td class="px-4 py-2">123</td>
    </tr>
  </tbody>
</table>
